{extend name="common/default"}
{block name="main"}
	<!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/goods/update/{$goods->gid}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="120"><i class="require-red">*</i>商品分类：</th>
                                <td>
                                <select name="cate_cid" id="catid" class="required">
                                        <option value="0">请选择</option>
                                    {foreach $cates as $k=>$v}
                                    <?php
                                        $n = substr_count($v->path,',')-1;
                                        $n = abs($n);
                                    ?>
                                        <option {if $goods->cate_cid==$v->cid}selected{/if} value="{$v->cid}">{:str_repeat('&nbsp;',$n*2)}{$v->cname}</option>
                                    {/foreach}
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商品名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="gname" size="50" value="{$goods->gname}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>定价：</th>
                                <td>
                                    <input class="common-text required" id="title" name="price" size="50" value="{$goods->price}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>库存：</th>
                                <td>
                                    <input class="common-text required" id="title" name="stock" size="50" value="{$goods->stock}" type="text">
                                </td>
                            </tr>
                            
                            <tr>
                                <th><i class="require-red">*</i>缩略图：</th>
                                <td>
                                <img src="{:config('disp_path').$goods->smgpic}" />
                                <input name="gpic" type="file"></td>
                            </tr>
                            <tr>
                                <th>描述：</th>
                                <td><textarea name="gdesc" class="common-textarea" id="content" value="{$goods->gdesc}" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>状态：</th>
                                <td>
                                    <input type="radio" name="status" checked value="1"> 新品
                                    <input type="radio" name="status" value="2"> 上架
                                    <input type="radio" name="status" value="3"> 下架
                                </td>
                            </tr>
                            <tr>
                            	<th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
{/block}