{extend name="common/default"}
{block name="main"}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/cate/index" method="GET">
                    <table class="search-tab">
                        <tr>
                            <th width="120">PATH:</th>
                            <td>
                                <select name="path" id="">
                                    <option value="0," >全部</option>
                                    <option value=",1," >家用电器类</option>
                                    <option value=",2," >手机类</option>
                                    <option value=",3," >电脑类</option>
                                    <option value=",4," >家具类</option>
                                    <option value=",5," >服装类</option>
                                    <option value=",6," >汽车用品类</option>
                                    <option value=",7," >母婴类</option>
                                    <option value=",8," >食品类</option>
                                    <option value=",9," >书籍类</option>
                                    <option value=",10," >礼品类</option>
                                    <option value=",11," >美妆类</option>
                                    <option value=",12," >医药保健类</option>
                                </select>
                            </td>
                            <th width="70">名称:</th>
                            <td><input class="common-text" placeholder="" name="cname" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>PID</th>
                            <th>PATH</th>
                            <th>操作</th>
                        </tr>
                    {foreach $cates as $k=>$v}
                    <?php
                        $n = substr_count($v->path,',');
                    ?>
                        <tr>
                            <td>{$v->cid}</td>
                            <td>{:str_repeat('&nbsp;',8*$n)}|--{$v->cname}</td>
                            <td>{$v->pid}</td>
                            <td>{$v->path}</td>
                            <td>
                                <a class="link-update" href="/cate/{$v->cid}/edit">修改</a>
                                <a class="link-del" href="/cate/del/{$v->cid}">删除</a>
                                <a class="link-del" href="/cate/create/{$v->cid}">添加子分类</a>
                            </td>
                        </tr>
                    {/foreach}
                    </table>
                    <div class="list-page">{$cates->render()|raw}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
{/block}