<!DOCTYPE html>
<html ><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    
    <title>账户信息</title>
	<link type="text/css" rel="stylesheet" href="/static/home/css/alpha1.css" >
	<link type="text/css" rel="stylesheet" href="/static/home/css/alpha2.css" >
</head>

<!--set|info-->
<body myjd="_MYJD_info" menuid="set">
<div id="shortcut-2014">
	<div class="w">
    	<ul class="fl">
    		<li class="dorpdown" id="ttbar-mycity">
			<div class="dt cw-icon ui-areamini-text-wrap" style="">
            <i class="ci-right"><s>◇</s></i>				送至：<span class="ui-areamini-text" data-id="1" title="北京">北京</span> 			</div>			<div class="dd dorpdown-layer">	
			<div class="dd-spacer"></div>				<div class="ui-areamini-content-wrap" style="left: auto;"> 					<div class="ui-areamini-content"><div class="ui-areamini-content-list">
 

  </div></div> 				</div> 			</div>		</li>
    	</ul>
    	<ul class="fr">
			<li class="fore1" id="ttbar-login"><a href="https://home.jd.com/" target="_blank" class="link-user">{:session('homeUserInfo.uname')}</a>&nbsp;&nbsp;<a href="/" class="link-logout">退出</a></li>
			<li class="spacer"></li>
			<li class="fore2">
				<div class="dt">
					<a target="_blank" href="https://order.jd.com/center/list.action">我的订单</a>
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore3 dorpdown" id="ttbar-myjd">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>
					<a target="_blank" href="https://home.jd.com/">我的京东</a>
				</div>
				<div class="dd dorpdown-layer"><div class="dd-spacer"></div><div class="dd-inner"><span class="loading"></span></div></div>
			</li>
			<li class="spacer"></li>
			<li class="fore4">
				<div class="dt">
					<a target="_blank" href="https://vip.jd.com/">京东会员</a>
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore5">
				<div class="dt">
					<a target="_blank" href="https://b.jd.com/">企业采购</a>
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore6 dorpdown" id="ttbar-apps" aid="2_955_6342">
				<div class="dt cw-icon">
					<i class="ci-left"></i>
					<i class="ci-right"><s>◇</s></i>
					<a target="_blank" href="https://app.jd.com/">手机京东</a>
				</div>
						<div class="dd dorpdown-layer">				<div class="dd-spacer"></div>				<div class="dd-inner" id="ttbar-apps-main"><div class="dd-spacer"></div><div class="dd-inner"><span class="loading"></span></div>				</div>			</div>		</li>
			<li class="spacer"></li>
			<li class="fore7 dorpdown" id="ttbar-atte" aid="2_955_6494">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>关注京东
				</div>	
						<div class="dd dorpdown-layer">				<div class="dd-spacer"></div>				<div class="dd-inner" id="ttbar-atte-main"><div class="dd-spacer"></div><div class="dd-inner"><span class="loading"></span></div>				</div>			</div>		</li>
			<li class="spacer"></li>
			<li class="fore8 dorpdown" id="ttbar-serv">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>客户服务
				</div>
				<div class="dd dorpdown-layer"><div class="dd-spacer"></div><div class="dd-inner"><span class="loading"></span></div></div>
			</li>
			<li class="spacer"></li>
			<li class="fore9 dorpdown" id="ttbar-navs">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>网站导航
				</div>
				<div class="dd dorpdown-layer"><div class="dd-spacer"></div><div class="dd-inner"><span class="loading"></span></div></div>
			</li>
    	</ul>
		<span class="clr"></span>
    </div>
</div>
<div id="o-header-2013"><div id="header-2013" style="display:none;"></div></div>
<div id="nav">
	<div class="w">
		<div class="logo">
			<a href="https://www.jd.com/" target="_blank" class="fore1" clstag="homepage|keycount|home2013|Homejdlogo"></a>
			<a href="https://home.jd.com/" target="_self" class="fore2" clstag="homepage|keycount|home2013|Homebackm">我的京东</a>
			<a href="https://www.jd.com/" target="_blank" class="fore3" clstag="homepage|keycount|home2013|Homebackjd">返回京东首页</a>
		</div>
		<div class="navitems">
			<ul>
				<li class="fore-1">
					<a target="_self" href="https://home.jd.com/" clstag="homepage|keycount|home2013|Homeindex">首页</a>
				</li>
				<li class="fore-3">
					<div class="dl" clstag="click|keycount|myhome|hsz">
						<div class="dt">
							<span class="myjd-set">账户设置</span>
							<b></b>
						</div>
						<div class="dd">
							
							<a tid="_MYJD_info" clstag="Homeyser" href="https://i.jd.com/user/info" target="_self"><span>个人信息</span></a>
							
							<a tid="_MYJD_safe" clstag="Homesafe" href="https://safe.jd.com/user/paymentpassword/safetyCenter.action" target="_self"><span>账户安全</span></a>

							<a tid="_MYJD_accbinde" clstag="Homezhbd" href="https://safe.jd.com/union/index.action" target="_self"><span>账号绑定</span></a>
							
							<a tid="_MYJD_grade" clstag="Homegrade" href="https://usergrade.jd.com/user/grade" target="_self"><span>我的级别</span></a>
							
							<a tid="_MYJD_comments" clstag="homeadd" href="https://easybuy.jd.com/address/getEasyBuyList.action" target="_self"><span>收货地址</span></a>
							
							<a tid="_MYJD_share" clstag="Homeshare" href="https://share.jd.com/share/index.html" target="_self"><span>分享绑定</span></a>
							
							<a tid="_MYJD_rss" clstag="Homeedm" href="https://i-mkt.jd.com/subscribe/settings" target="_self"><span>邮件订阅</span></a>
							
							<a tid="_MYJD_recor" clstag="Homeedm" href="https://usergrade.jd.com/user/consume" target="_self"><span>消费记录</span></a>
							
							<a tid="_MYJD_app" clstag="Homeedm" href="https://fw.jd.com/home/auth_list.action" target="_blank"><span>应用授权</span></a>
							
							<a tid="_MYJD_pay" clstag="Homequick" href="https://authpay.jd.com/card/queryBindCard.action" target="_blank"><span>快捷支付</span></a>
							
							<a tid="_MYJD_zpzz" clstag="Homezpzz" href="https://invoice.jd.com/user/userinfo/zpzz.html" target="_self"><span>增票资质</span></a>
<a tid="_MYJD_qyfp" clstag="Homeqyfp" href="https://corp.jd.com/invoice/commonlist" target="_self"><span>企业发票</span></a>							
<a tid="_MYJD_cgxqd" clstag="Homecgxqd" href="https://kw.jd.com/" target="_self"><span>采购需求单</span></a>
						</div>
					</div>
				</li>
				<li class="fore-4">
					<div class="dl myjd-info" clstag="click|keycount|myhome|hsq">
						<div class="dt ">
							<span>社区</span>
							<b></b>
						</div>
						<div class="dd">
							<a tid="_MYJD_me" clstag="hgr" href="https://me.jd.com/" target="_blank"><span>个人主页</span></a>
							<a tid="_MYJD_activities" clstag="Homeclub" href="https://luck.jd.com/myjd/myJoinActivity.html" target="_self"><span>我的活动</span></a>
							
							<a tid="_MYJD_circle" clstag="Homejoincircle" href="https://group.jd.com/circle/myjoincircle.htm" target="_self"><span>我的圈子</span></a>
							
							<a tid="_MYJD_mycollect" clstag="Homethread" href="https://group.jd.com/thread/mythread.htm" target="_self"><span>我的帖子</span></a>
						</div>
					</div>
				</li>
				<li class="fore-5">
					<a tid="_MYJD_joy" href="https://joycenter.jd.com/" target="_self" clstag="homepage|keycount|home2013|Homemsg">消息</a>
				</li>
			</ul>
		</div>
		
		<div class="clr"></div>
	</div>
</div>

<!--container start-->
<div id="container">
    <div class="w">    
        <div id="content">
			<div id="sub">
<div id="menu">
	<dl class="fore1">
		<dt id="_MYJD_setting">设置</dt>
		<dd class="fore1_1 curr" id="_MYJD_info">
			<a clstag="homepage|keycount|home2013|Homeyser" href="https://i.jd.com/user/info" target="_self">个人信息</a>
		</dd>
		<dd class="fore1_2" id="_MYJD_safe">
			<a clstag="homepage|keycount|home2013|Homesafe" href="https://safe.jd.com/user/paymentpassword/safetyCenter.action" target="_self">我的订单</a>
		</dd>
		
		
		
		
		
		
		
		
		
		
		
	</dl>
</div>
			</div>
			
    		<div id="main">
                <div class="mod-main">
                    <div class="mt">
                        <ul class="extra-l">
                            <li class="fore-1"><a class="curr" href="https://i.jd.com/user/info">基本信息</a></li>
                            
                            
                            
                        </ul>

                    </div>
					<div class="mc">
                        <div class="user-set userset-lcol">
                        <form action="/orders/userinfo" method="post" id="myform" name="myform" enctype="multipart/form-data">
                            <div class="form">
                                <div class="item">
                                    <span class="label">用户名：</span>
                                    <div class="fl">
                                        <input type="text" name="uname" value="{:session('homeUserInfo.uname')}"></input>
                                    </div>
                                </div>


                                <div class="item">
                                    <span class="label"><em>*</em>性别：</span>
                                    <div class="fl" clstag="homepage|keycount|home2013|infoGender">
                                        <input type="radio" name="sex" class="jdradio"  {if session('homeUserInfo.sex')=='m'}checked{/if} value="m"><label class="mr10">男</label>
                                        <input type="radio" name="sex" class="jdradio"  {if session('homeUserInfo.sex')=='w'}checked{/if} value="w"><label class="mr10">女</label>
                                        <input type="radio" name="sex" class="jdradio"  {if session('homeUserInfo.sex')=='x'}checked{/if} value="x"><label class="mr10">保密</label>
                                    </div>
                                </div>
 
                                
								<div class="item">
								<span class="label">邮箱：</span>
								<div class="fl" clstag="homepage|keycount|home2013|infomail">
								<input type="text" value="{:session('homeUserInfo.email')}"></input>
									
								</div>

								<div class="clr"></div>
							</div>
								
                                <div class="item" clstag="pageclick|keycount|201602251|3">
                                    <span class="label"><em>*</em>联系电话：</span>
                                    <div class="fl">
                                        <input clstag="homepage|keycount|home2013|infoname2" type="text" class="itxt" maxlength="20" name="tel" id="realName" value="{:session('homeUserInfo.tel')}">
                                        <div class="clr"></div><div class="prompt-06"><span id="realName_msg"></span></div>
                                    </div>
                                </div>
                     
                     			<div class="item" clstag="pageclick|keycount|201602251|3">
                                    <span class="label"><em>*</em>收货地址：</span>
                                    <div class="fl">
                                        <input clstag="homepage|keycount|home2013|infoname2" type="text" class="itxt" maxlength="20" name="addr" id="realName" value="{:session('homeUserInfo.addr')}">
                                        <div class="clr"></div><div class="prompt-06"><span id="realName_msg"></span></div>
                                    </div>
                                </div>

                                <div class="item" clstag="pageclick|keycount|201602251|3">
                                    <span class="label"><em>*</em>修改头像：</span>
                                    <div class="fl">
                                    
                                		<!-- <img src="{:config('disp_path').$user->xxoo}" /> -->
                            
                                        <input  type="file"   name="gpic"  >
                                        <div class="clr"></div><div class="prompt-06"><span id="realName_msg"></span></div>
                                    </div>
                                </div>

                                <div class="item">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <input id="code" value="850496" style="display:none">
                                        <input id="rkey" value="" style="display:none">
                                        <input class="btn btn-primary btn6 mr10"  value="提交" type="submit">
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div id="user-info">
                            <div class="u-pic">
                                <img alt="用户头像" src="{:config('disp_path').$user->xxoo}">
                                <div class="mask"></div>
                                <div class="face-link-box"></div>
                                <a href="https://i.jd.com/user/userinfo/showImg.html" class="face-link">修改头像</a>
                            </div>
                            <div class="info-m">
								<div><b>用户名：{$user->uname}</b></div>
                                <div class="u-level">
									<span class="rank r4">
										<s></s><a clstag="homepage|keycount|home2013|infoMember" href="https://usergrade.jd.com/user/grade" target="_blank">金牌会员</a>
									</span>
                                </div>
                                <!--<div class="shop-level">购物行为评级：<span><a target="_blank" href="//vip.jd.com/help_behaviorRating.html">
									<s id="userCredit" class="rank-sh rank-sh01"></s></a></span></div> -->
                                                            <div clstag="pageclick|keycount|201602251|4">小白信用：<a href="https://credit.jd.com/" target="_blank">开通后可查看</a></div>
                                                            <div>会员类型：个人用户</div>
                            </div>
                        </div>
						<div class="fr ac" style="width:280px;">
							  注：修改手机和邮箱请到<a clstag="homepage|keycount|home2013|infopay" class="ml5 ftx05" href="https://safe.jd.com/user/paymentpassword/safetyCenter.action">账户安全</a>
						</div>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--container end-->

<!--main-->









 </body></html>